In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from metrics import *
from sklearn.tree import DecisionTreeRegressor

In [3]:
from sklearn.metrics import accuracy_score,mean_squared_error

from sklearn.model_selection import train_test_split

In [4]:
from base import DecisionTree 
np.random.seed(42)

In [5]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
data = pd.read_csv(url, delim_whitespace=True, header=None,
                   names=["mpg", "cylinders", "displacement", "horsepower", "weight",
                          "acceleration", "model year", "origin", "car name"])

C:\Users\91798\AppData\Local\Temp\ipykernel_23312\3565470146.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv(url, delim_whitespace=True, header=None,

In [6]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [12]:
X = data[["cylinders", "displacement", "horsepower", "weight", "acceleration"]]
X

     cylinders  displacement horsepower  weight  acceleration
0            8         307.0      130.0  3504.0          12.0
1            8         350.0      165.0  3693.0          11.5
2            8         318.0      150.0  3436.0          11.0
3            8         304.0      150.0  3433.0          12.0
4            8         302.0      140.0  3449.0          10.5
..         ...           ...        ...     ...           ...
393          4         140.0      86.00  2790.0          15.6
394          4          97.0      52.00  2130.0          24.6
395          4         135.0      84.00  2295.0          11.6
396          4         120.0      79.00  2625.0          18.6
397          4         119.0      82.00  2720.0          19.4

[392 rows x 5 columns]

In [14]:
y = data["mpg"]
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [9]:
print(data['mpg'].nunique())

127

In [19]:
#horsepower contains some junk values, we will replace them with the mean of the column
#first we will convert the junk values to NaN
X.loc[:, "horsepower"] = pd.to_numeric(X["horsepower"], errors='coerce')
#replace NaN with the mean of the column
X.loc[:, "horsepower"] = X["horsepower"].fillna(X["horsepower"].mean())

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
tree = DecisionTree(criterion="information_gain", max_depth=5)
tree.fit(X_train, y_train)
y_hat = tree.predict(X_test)
tree.plot()
print("Our Decision Tree")
print("RMSE:", rmse(y_hat, y_test))
print("MAE:", mae(y_hat, y_test))

 [displacement <= 198.5]
    [horsepower <= 84.5]
       [weight <= 2152.5]
          [weight <= 2080.0]
             [displacement <= 94.0]
                Decision: 34.27714285714285
             [displacement > 94.0]
                Decision: 31.29166666666666
          [weight > 2080.0]
             [weight <= 2115.0]
                Decision: 43.9
             [weight > 2115.0]
                Decision: 34.175
       [weight > 2152.5]
          [horsepower <= 51.0]
             Decision: 43.4
          [horsepower > 51.0]
             [acceleration <= 15.25]
                Decision: 31.835714285714285
             [acceleration > 15.25]
                Decision: 28.107142857142858
    [horsepower > 84.5]
       [weight <= 2967.0]
          [acceleration <= 11.95]
             [displacement <= 170.5]
                Decision: 32.7
             [displacement > 170.5]
                Decision: 28.8
          [acceleration > 11.95]
             [horsepower <= 96.5]
                Decision: 25.833333333333332
             [horsepower > 96.5]
                Decision: 23.408
       [weight > 2967.0]
          [cylinders <= 5.0]
             [displacement <= 140.5]
                Decision: 19.5
             [displacement > 140.5]
                Decision: 24.3
          [cylinders > 5.0]
             [displacement <= 169.5]
                Decision: 16.75
             [displacement > 169.5]
                Decision: 18.0
 [displacement > 198.5]
    [horsepower <= 127.0]
       [displacement <= 261.0]
          [displacement <= 231.5]
             [weight <= 3482.5]
                Decision: 20.615789473684213
             [weight > 3482.5]
                Decision: 18.542857142857144
          [displacement > 231.5]
             [acceleration <= 21.6]
                Decision: 17.65357142857143
             [acceleration > 21.6]
                Decision: 23.9
       [displacement > 261.0]
          [cylinders <= 7.0]
             Decision: 38.0
          [cylinders > 7.0]
             [displacement <= 327.0]
                Decision: 15.5
             [displacement > 327.0]
                Decision: 24.8
    [horsepower > 127.0]
       [weight <= 4344.5]
          [horsepower <= 141.0]
             [horsepower <= 138.5]
                Decision: 15.537500000000001
             [horsepower > 138.5]
                Decision: 17.95714285714286
          [horsepower > 141.0]
             [weight <= 3504.0]
                Decision: 16.78
             [weight > 3504.0]
                Decision: 14.661764705882353
       [weight > 4344.5]
          [displacement <= 312.5]
             [displacement <= 305.5]
                Decision: 9.0
             [displacement > 305.5]
                Decision: 10.0
          [displacement > 312.5]
             [weight <= 4802.5]
                Decision: 13.5
             [weight > 4802.5]
                Decision: 12.0
Our Decision Tree
RMSE: 22.97689538468997
MAE: 21.837974683544303

In [22]:
sklearn_tree = DecisionTreeRegressor(max_depth=5)
sklearn_tree.fit(X_train, y_train)
y_hat = sklearn_tree.predict(X_test)
print("Scikit Learn Decision Tree")
print("RMSE:", rmse(y_hat, y_test))
print("MAE:", mae(y_hat, y_test))
plt.show()

Scikit Learn Decision Tree
RMSE: 5.093902473557784
MAE: 3.6648545376844943